html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 2.5rem;
}

pre {
  color: #fff;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  --bs-bg-opacity: 1;
  padding: .7rem;
  border-radius: 7px;
}

footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

header {
  grid-column: 1 / span 2;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
}

.left-col {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}